{% extends 'base.html' %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/style.css'%}">{% endblock css%}
{% block content %}
<section id="sign-container-login">
    <div class="container" >
        <div class="row">
            
            <form action="" class="col-5 my-5 mx-auto rounded bg-light" >
                <div class="row my-5 ">
                <h2 class="mb-4" style="color: teal;">Password Reset</h2>
                <div class="form-group">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control">
                </div>
                

                <div class="d-grid gap-2 my-3">
                    <button class="btn btn-success" type="button" style="background-color: teal;">Create Account</button>    
                </div>
                <a href="{% url 'users:login'%}" class="text-start text-success" style="text-decoration: none;" >Login Again</a>
            </form>
        </div>
    </div>

</section>
{% endblock content %}