{% extends 'base.html' %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/style.css'%}">{% endblock css%}
{% block content %}
<section id="sign-container-login" style="background-color:#1E9DA0">
    <div class="container" >
        <div class="row">
            
            <form action="{% url 'users:login'%}" class="col-md-5 my-5 mx-auto rounded bg-light px-4" method="POST">
                {% csrf_token %}
                <div class="row my-5 ">
                <h2 class="mb-4" style="color: teal;">Login to account</h2>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
                <div class="form-group">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                
                <div class="form-group mt-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
            

                <a href="{%  url 'users:reset_password'%}" class="mt-4 text-end text-success" style="text-decoration: none;" >Forget Password?</a>
                <div class="d-grid gap-2 my-3">
                    <button class="btn btn-success rounded-pill" type="submit" style="background-color: teal;">Login</button>    
                </div>
                <a href="{% url 'users:signup'%}" class="text-start text-success" style="text-decoration: none;" >New User? Register</a>
            </form>
        </div>
    </div>

</section>


<script>
    errorElements = document.getElementsByClassName('alert-error');
   [...errorElements].forEach(el=>{el.classList.add('alert-danger')})
 </script>
{% endblock content %}