{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.css'%}">{% endblock css %}
{% block content %}
        <section class="container-fluid bg pl-0" id="sign-container-password" style="background-color:rgb(228, 223, 213)">
            <section class="row justify-content-center ">
                <section class="col-12 col-sm-8 col-md-6">
                    <form class="form-container" method="POST" action="{% url 'users:reset_password' %}">
                        {% csrf_token %}
                        <div class=" mt-5">
                            
                            <div><label class="form-label " style="font-size: xx-large; font-style: inherit;">Password Reset</label></div>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="">
                          <div><label class="form-label text-danger text-center">{{message}}</label></div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Your Registered Email</label>
                          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">Reset link will be sent to the email above if it has been registered in our platform</div>
                        </div>
                        <div class="d-grid gap-2 my-3">
                          <button class="btn btn-success" type="button" style="background-color: teal;">Send Reset Link</button>    
                      </div>
                        
                      </form>
                </section>
            </section>
        </section>
{% endblock %}
