{% extends 'base.html' %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/style.css'%}">{% endblock css%}
{% block content %}
<section id="sign-container" style="background-color:rgb(228, 223, 213)">
    <div class="container" >
        <div class="row my-5 ">
            
            <form action="" class="col-md-5 my-5 pb-4 mx-auto rounded bg-light" method="POST">
                <div class="row ">
                {% csrf_token %}
                <h2 class="my-4" style="color: teal;">Create an account</h2>
               
                {% for field in form %}
                <div class="form-group mt-3">
                    {% if field.errors %}
                    <label class="bg-danger form-control  text-white" >{{field.errors.0}}</label>
                    {% endif %}
                    <label for="" class="form-label ">{{ field.label}}</label>
                    {{field}}
                </div>

                {% endfor %}
                </div>
                
                <div class="d-grid gap-2 my-4">
                    <button class="btn btn-success" type="submit" style="background-color: teal;">Create Account</button>    
                </div>
                <a href="{% url 'users:login'%}" class="text-start text-success" style="text-decoration: none;" >New User? Login</a>
            </form>
           
        </div>
    </div>

</section>

<script>
    function checkemail(){
    $.ajax(
        {
            type:"GET",
            url:"{% url 'users:check' 'email'%}",
            data:{
                email: $("#id_email").val(),
            },
            success: function(response){
                document.getElementById("id_email").classList.add("border-3")
                if(response['response'] == "valid"){
                    document.getElementById("id_email").classList.remove("border-danger")
                    document.getElementById("id_email").classList.add("border-success")
                }else{
                    document.getElementById("id_email").classList.remove("border-success")
                    document.getElementById("id_email").classList.add("border-danger")
                }
            }
        }
    )
}

function checkpassword(){
    $.ajax(
        {
            type:"GET",
            url:"{% url 'users:check'  'password' %}",
            data:{
                password: $("#id_password").val(),
            },
            success: function(response){
                document.getElementById("id_password").classList.add("border-3")
                if(response['response'] == "valid"){
                    document.getElementById("id_password").classList.remove("border-danger")
                    document.getElementById("id_password").classList.add("border-success")
                }else{
                    document.getElementById("id_password").classList.remove("border-success")
                    document.getElementById("id_password").classList.add("border-danger")
                }
            }
        }
    )
}
</script>
{% endblock content %}